/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  color: #333;
}

/* Container */
.container {
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

/* Sidebar (Left) */
.bg-dark {
  background-color: #040113 !important;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #4bb3c3;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 26px;
  line-height: 32px;
  margin: 15px 0 10px;
  font-weight: bold;
}

.role {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-style: italic;
}

/* Section Titles */
.contact-title,
.section-title {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 2px solid #4bb3c3;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.skills li {
  margin: 7px 0;
  font-size: 14px;
}

/* Right Side Content */
.right h2 {
  font-size: 22px;
  border-bottom: 3px solid #4bb3c3;
  width: fit-content;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.profile p {
  margin-bottom: 25px;
  line-height: 1.6;
}

.exp-item,
.edu-item {
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

h5 {
  font-size: 15px;
  margin: 5px 0;
  font-style: italic;
}

.contact-info p {
  margin: 8px 0;
}