* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}

.container {
    width: 900px;
    margin: 30px auto;
    display: flex;
    background: white;
}

.left {
    width: 35%;
    background: #040113;
    color: white;
    padding: 30px;
}

.right {
    width: 65%;
    padding: 40px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #4bb3c3;
    margin-bottom: 25px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 10px;
}

.role {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.contact-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #4bb3c3;
    padding-bottom: 5px;
}

.contact-info p {
    margin: 8px 0;
}

.section-title {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #4bb3c3;
    padding-bottom: 5px;
}

.skills li {
    margin: 7px 0;
    font-size: 14px;
}

.right h2 {
    font-size: 22px;
    border-bottom: 3px solid #4bb3c3;
    width: fit-content;
    margin-bottom: 15px;
}

.profile p {
    margin-bottom: 25px;
    line-height: 1.5;
}

.exp-item, .edu-item {
    margin-bottom: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
    margin: 5px 0;
}

.certification p {
    margin: 8px 0;
}